../.idea
/target/
/lab7-client/target/
/lab7-commands/target/
/lab7-server/target/
/.settings/
/lab7-client/.settings/
/lab7-commands/.settings/
/lab7-server/.settings/
.classpath
/lab7-client/.classpath
/lab7-commands/.classpath
/lab7-server/.classpath
.project
/lab7-client/.project
/lab7-commands/.project
/lab7-server/.project
/ClassDiagram.ucls
/lab7-parent.iml
/lab7-client/lab7-client.iml
/lab7-commands/lab7-commands.iml
/lab7-server/lab7-server.iml