../.idea
/target/
/lab8-client/target/
/lab8-commands/target/
/lab8-server/target/
/.settings/
/lab8-client/.settings/
/lab8-commands/.settings/
/lab8-server/.settings/
.classpath
/lab8-client/.classpath
/lab8-commands/.classpath
/lab8-server/.classpath
.project
/lab8-client/.project
/lab8-commands/.project
/lab8-server/.project
/ClassDiagram.ucls
/lab8-parent.iml
/lab8-client/lab8-client.iml
/lab8-commands/lab8-commands.iml
/lab8-server/lab8-server.iml